@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Rubik+Distressed&display=swap');

:root{
    --cor1:#E8ACE7;
    --cor2:#DBA3DA;
    --cor3:#C28FC1;
    --cor4:#9C739B;
    --cor5:#5C445B;
    --font1: 'Rubik Distressed', cursive;
    --font2: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
   
}

*{
    margin: 0px;
    padding: 0px;
   
}
body{
    background-color: #e6b5e55c;
    min-height: 100vh;
}

header{
    background-color: var(--cor3);
    text-align: center;
    max-width: 100%;
    height: 35vh;
    

}
header h1{
    font-family: var(--font1);
    font-weight: lighter;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #5C445B;
    text-transform: uppercase; 
    font-size: 8vw;
}
header p{
    font-family: var(--font2);
   margin-top: 10px;
    font-weight: bold;
}
header a{
    text-decoration: none;
    color: black;
}
section{
    margin-top: 20px;
}

section >p {
    padding: 20px 10px 20px 10px;
    line-height: 2.5em;
    font-size: 3vw;
    font-family: var(--font2);
    background-color: rgba(0, 0, 0, 0.095);
    display: inline-block;
    margin-left: 20px;
    border-radius: 50px 0px 50px 0px;
    margin-top: 20px ;
    margin-bottom: 20px;
}

section.imagem{
    color: white;
    background-size: cover;
    background-attachment: fixed;
    background-color: rgba(0, 0, 0, 0.447);
}


#imagem01{
    background-image: url(imagens/PIXNIO-2751942-1080x1350.jpeg);
    background-position: center center;
}

#imagem02{
    background-image: url(imagens/foto-cortada.jpg);
    background-position:center center ;
}

footer{
    background-color: #5C445B;
    color: #E8ACE7;
    text-align: center;
    padding: 8px;
    margin-top: 40px;
}
